path "{{secrets_root}}/{{owner}}/{{repo}}/*" { capabilities = ["create", "read", "update", "delete", "list"]}
path "{{secrets_root}}/{{owner}}/resources/*" { capabilities = ["create", "read", "update", "delete", "list"]}

path "identity/oidc/key/*" { capabilities = ["create", "read", "update", "delete", "list"]}
path "identity/oidc/role/*" { capabilities = ["create", "read", "update", "delete", "list"]}
path "auth/{{mount_point}}/role/*" { capabilities = ["create", "read", "update", "delete", "list"]}
path "identity/oidc/token/*" { capabilities = ["create", "read", "update", "delete", "list"]}
path "identity/entity/*" { capabilities = ["read"] }
path "identity/group/*" { capabilities = ["read"] }

path "/sys/auth/*" { capabilities = ["create", "read", "update", "delete", "list", "sudo"]}
path "auth/*" { capabilities = ["create", "read", "update", "delete", "list", "sudo"]}
path "sys/policy" { capabilities = ["read"]}
path "/auth/*/config" {  capabilities = ["create", "read", "update", "delete", "list", "sudo"]}
path "sys/policies/acl/*" {  capabilities = ["create", "read", "update", "delete", "list", "sudo"]}
path "sys/policy/*" {  capabilities = ["create", "read", "update", "delete", "list", "sudo"]}
