apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: cicd-gateway.exchange.om2.com
    http:
      paths:
      - backend:
          serviceName: {{ .Chart.Name }}-service
          servicePort: {{ .Values.service.internalPort }}