{
  "schema": "v2",
  "application": "{{ application }}",
  "name": "deploy",
  "template": {
    "artifactAccount": "front50ArtifactCredentials",
    "reference": "spinnaker://HelmSpelTemplate",
    "type": "front50/pipelineTemplate"
  },
  "variables": {
    "helmPackage": "{{ helm_package }}",
    "helmPackageMatched": "{{ helm_package }}",
    "helmPackageVersion": "0.0.1",
    "project": "{{ repo_slug }}",
    "defaultArtifactUUID": "{{ default_artifact_uuid }}",
    "ArtifactUUID": "{{ artifact_uuid }}",
    "matchArtifactUUID": "{{ match_artifact_uuid }}",
    "stagesdefaultArtifactUUID": "{{ stages_default_artifact_uuid }}",
    "stagesArtifactUUID": "{{ stages_artifact_uuid }}",
    "stagesmatchArtifactUUID": "{{ stages_match_artifact_uuid }}"
  },
  "exclude": [],
  "triggers": [],
  "parameters": [],
  "notifications": [],
  "description": "",
  "stages": []
}
