{
  "namespace": " {{ namespace }}",
  "owner": " {{ owner }}",
  "repo": " {{ repo }}",
  "sha": " {{ sha }}",
  "branch_name": " {{ branch_name }}",
  "is_pull_request": " {{ is_pull_request }}",
  "labeled": " {{ labeled }}",
  "issue_number": " {{ issue_number }}"
}
